@font-face {
  font-family: "FreeSerif";
  src: url("./FreeSerif.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FreeSerif";
  src: url("./FreeSerifBold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FreeSerif";
  src: url("./FreeSerifItalic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "FreeSerif";
  src: url("./FreeSerifBoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
