/* Logseq Presentation Mode Fixer by Peter Yanase, http://kneedeepjapan.com */

/****************/
/* Global fixes */
/****************/

.reveal {

  &.embedded { /* Fixes the aspect-ratio of the slide preview */
    aspect-ratio: 16/9;
    height: auto !important; /* !important is needed to override the inline CSS */
  }

  & p { /* Resets paragraph color */
    color: unset;
  }

  & :is(p:first-child, p:last-child) { /* Resets the margin of the first and last paragraphs */
    margin: var(--r-block-margin) 0;
  }

  & p a:hover,
    .external-link { /* Removes the underline on link hover */
    border-bottom: none;
  }
  
  & :is(h1, h2) { /* Removes the underline and padding of L1-2 headers */
    padding-bottom: unset;
    border-bottom: none;
  }
  
  & :is(h1, h2, h3, h4, h5, h6) { /* Sets the minimum height of the headers to auto */
    min-height: auto;
  }

  & :is(h1, h2, h3, h4, h5, h6):last-child { /* Adds back the mistakenly took margins to the headers */
    margin: var(--r-heading-margin);
  }

  & table { /* Sets the table size to auto and centers it */
    width: auto;
    margin: auto;
  }

  & th { /* Resets the color and font size for the table headers */
    color: unset;
    font-size: unset;
  }

  & tr:nth-child(odd),
    tr:nth-child(even) { /* Resets the color of the table rows */
    background-color: unset;
  }

  & blockquote { /* Resets the color, font size, and border of blockquotes */
    font-size: unset;
    border-left: none;
    color: unset;
  }

  & .block-main-container.pr-2 { /* Removes the right side padding from the main container */
    padding-right: unset;
  }

  & .block-content-wrapper { /* Maximizes the width of the content wrapper */
    width: 100%;
  }

  & :not(pre) > code { /* Resets the colors of single line codes */
    color: unset;
    background-color: unset;
  }

  & .pre-wrap-white-space { /* Disables line-wrapping for code blocks */
    white-space: pre;
  }

  & pre.code { /* Sets the font size for highlight.js to 0.55em and resets the margins */
    font-size: 0.55em;
    margin: var(--r-block-margin) auto;
  }

  & :not(pre) > code.hljs { /* Aligns the font size for single line highlight.js codes */
    font-size: 0.55em;
  }

  .reveal :is(ul, ol) p { /* Resets the display settings for paragraphs inside lists */  
    display: unset
  }
}

html[data-theme=light] #right-sidebar .reveal :is(h1, h2, h3, h4, h5, h6) { /* Resets the header color */
  color: unset;
}


/******************************/
/* Dark theme specific fixes */
/******************************/

.dark-theme .reveal {

  & tr:nth-child(even) { /* Resets the color of the table rows */
    background-color: unset;
  }

  & :is(th, td) { /* Adds back the bottom rows of the tables */
    border-bottom: solid;
  }
}
